In [3]:
tot=0                       # 합을 입력할 변수 tot초기값을 0으로 지정
for i in range(1,1001):     # for문을 사용하여 1부터 1000까지 돌림
    if i%3==0 or i%5==0:   # i가 1 부터 1000까지 숫자 중 3또는 5로 나누었을때 나머지가 0이되는 경우에 tot에 i를 더함
        tot+=i              

print(tot)

234168

In [4]:
tot=0
i=1
while i<1001:              # while문을 사용하여 i가 1001 미만일때까지 반복
    if i%3==0 or i%5==0:   # i가 1 부터 1000까지 숫자 중 3또는 5로 나누었을때 나머지가 0이되는 경우에 tot에 i를 더함
        tot+=i
    i+=1                    # 반복할때 마다 i값을 1씩 증가

print(tot)

234168

In [9]:
l=list(input().split())
l_set=set(l)
cnt=0
for i in l_set:
    if l.count(i)>cnt:
        cnt=l.count(i)
        tmp=i

print('{0}(이)가 총 {1}로 반장이 되었습니다.'.format(tmp,cnt))

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4로 반장이 되었습니다.

In [14]:
n=input()
n=n.replace('q','e')
print(n)

querty
euerty

In [29]:
n=int(input())
f='YES'
for i in range(2,n):
    if n%i==0:
        f='NO'
        break
if n==1:
    f='NO'

print(f)

2
NO

n=int(input())
cnt=0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
if cnt==2:
    print('YES')
else:
    print('NO')

In [32]:
n=int(input())
l=[0]*(n+1)
ans=[]
for i in range(2,n+1):
    if l[i]==0:
        ans.append(i)  
    for j in range(i,n+1,i):
        l[j]=1
print(ans)

10
[2, 3, 5, 7]

In [34]:
num=input()
tot=0
for i in num:
    tot+=int(i)
print(tot)

3849
24

In [38]:
print(sum(map(int,input())))

1234
10

In [54]:
l=[]
tot=0
for i in range(1,21):
    l.append(str(i))
a=''.join(l)

for j in a:
    tot+=int(j)
print(tot)

102

In [59]:
l=''
for i in range(1,21):
    l+=str(i)

print(sum(map(int,l)))

102

In [62]:
l=''
for i in range(1,int(input())+1):
    l+=str(i)

print(sum(map(int,l)))

20
102

In [1]:
def call(v1=20,v2=5,v3=2):
    print((v1*v2)-v3)
    
call(v2=5,v3=3,v1=4)

17

In [4]:
x={'x':1,'y':2}
for i in x:
    print(i)

x
y

In [5]:
n=int(input('n='))      # n값을 입력
f='true'                # 변수f값을 false로 초기화
for i in range(2,n):   # 2부터 n-1값까지 for문을 돌림
    if n%i==0:         # n을 i(2부터 n-1값)으로 나눈 나머지가 0이면
        f='false'      # f를 flase로 바꿈
        break         # 하나라도 값이 나눠짐으로 소수가 아니기 때문에 바로 break함
if n==1:              # 예외로 n이 1일경우
    f='false'          # f를 바로 false로 바꿈

print(f)               # f값 출력

n=11
true

In [8]:
n=int(input('n='))      # n값을 입력
cnt=0                   # cnt를 0으로 초기화
for i in range(1,n+1):  # 1부터 n값까지 for문을 돌림
    if n%i==0:         # n을 i(1부터 n값)으로 나눈 나머지가 0이면
        cnt+=1         # cnt를 1씩 더함       
if cnt==2:             # cnt가 2이면(즉 자기 자신과 1일경우) 소수임으로
    print('true')      # true출력
else:                  # 그 이외의 값은
    print('false')     # false 출력

n=1
false

In [13]:
n=int(input('n='))           # n값을 입력

l=[0]*(n+1)                 # l 리스트를 0으로 index 0부터 n까지 생성
ans=[]                      # ans 리스트 생성
for i in range(2,n+1):     # i값을 2부터 n까지 for문 돌림
    if l[i]==0:            # 만약 l[i]값이 0이면
        ans.append(i)         # l[i]값을 ans에 삽입
    for j in range(i,n+1,i):   # i부터 n까지 i 씩 커지면서(즉 n까지의 i의 배수들)
        l[j]=1                 #l[j]값을 1로 변환

if n in ans:                  # 만약 n값이 ans(소수)에 있다면
    print('true')            # ture 출력
else:                        # n 값이 반대로 ans에 없다면
    print('false')           #false출력

n=15
false

In [1]:
n=int(input('Enter a number: '))   #숫자 입력받기

if n%2==0:         #숫자 나눈값의 나머지가 0이면
    print('{} is Even'.format(n))   # 짝수 출력
else:             # 그 이외에는
    print('{} is Odd'.format(n))    # 홀수 출력

Enter a number: 43
43 is Odd

In [3]:
n=input('Enter a number: ')   #숫자 입력받기
last_num=[0,2,4,6,8]         #끝자리 리스트 만들기

if int(n[-1]) in last_num:         #숫자 맨 마지막 자리가 last_num에 있는 숫자라면
    print('{} is Even'.format(n))   # 짝수 출력
else:             # 그 이외에는
    print('{} is Odd'.format(n))    # 홀수 출력

Enter a number: 18
18 is Even

In [13]:
def myfunc(*args):
    for a in args:
        print(a,end='')
    if args:
        print()

def myfunc2(**kwargs):
    for k,v in kwargs.items():
        print(k,v,sep='->',end=' ')
    if kwargs:
        print()

def myfunc3(*args, **kwargs):
    if args:
        for a in args:
            print(a,end=' ')
        print()
    if kwargs:
        for k, v in kwargs.items():
            print(k,v,sep='->',end=' ')
        print()

In [8]:
myfunc3()

In [10]:
myfunc3(1,2,3)

1 2 3

In [15]:
myfunc3(a=10,b=20,c=30)

a->10 b->20 c->30

In [16]:
myfunc3(1,2,3, a=10,b=20,c=30)

1 2 3
a->10 b->20 c->30

In [19]:
n=int(input())
tot=0
for _ in range(n):
    a=int(input())
    if tot%100+ a%100 >= 60:
        tot+=(a//100)*100+100+(tot%100-60)
    else:
        tot+=a
print(tot/6000*4)

27
6115
4850
4822
4836
3835
3818
3831
2912
2924
2515
2340
1557
1510
1555
1604
1556
1545
4010
4033
4805
4928
4807
5810
5805
3936
3950
4811
66.56266666666667

In [21]:
66.56*0.967

64.36352

In [8]:
people=[('이호준','01050442903'),('이호상','01051442904'),('이준호','01050342904'),('이호준','01050442903'),('이준','01050412904'),('이호','01050443904'),('이호준','01050442903')]
cnt=0
while people:
    a=people.pop(0)
    if a not in people:
        cnt+=1
        
print(cnt)

5

In [11]:
people=[('이호준','01050442903'),('이호상','01051442904'),('이준호','01050342904'),('이호준','01050442903'),('이준','01050412904'),('이호','01050443904'),('이호준','01050442903')]
print(len(set(people)))

5

In [17]:
# Asicii코드를 활용한 문제풀이

string='AAABBBcccddd'

for i in string:   # 문자열에서 각각의 문자마다
    if 65<=ord(i)<=90:  # 대문자 아스키 코드일경우
        print(chr(ord(i)+32),end='')     # 아스키코드10진법에서 +32를 더해 소문자로
    elif 97<=ord(i)<=122:     # 이외에는
        print(chr(ord(i)-32),end='')    # 아스키코드10진법에서 +32를 더해 대문자로

aaabbbCCCDDD

In [19]:
string='AAABBBcccddd'

for i in string:   # 문자열에서 각각의 문자마다
    if i.isupper():  # 대문자일 경우
        print(i.lower(),end='')     # 소문자로
    elif i.islower() :     # 소문자 이면
        print(i.upper(),end='')    # 대문자로

aaabbbCCCDDD

In [20]:
nums=list(map(int,input().split()))   # 숫자 입력받음
print(max(nums))  # 최대값 출력

10 9 8 7 6 5 4 3 2 1
10

In [21]:
nums=list(map(int,input().split()))   # 숫자 입력받음
max_num=0   #변수 초기화
while nums:  # nums의 list에 값이 없을때까지
    a=nums.pop()   # a에 마지막값을 pop하여 넣음
    if a>max_num:  # a가 max_num값보다 크면 
        max_num=a    # max_num값을 a로 치환
print(max_num)    # max_num값 출력

10 9 8 7 6 5 4 3 2 1
10

In [22]:
nums=list(map(int,input().split()))   # 숫자 입력받음
max_num=0   #변수 초기화
for i in nums:   # for문으로 nums의 값을 돌림(i로 받음)
    if i>max_num:   # i가 max_num보다 크면
        max_num=i   # max_num에 i를 치환
print(max_num)   # max_num 출력

10 9 8 7 6 5 4 3 2 1
10

In [32]:
student=['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
student.sort()  # 정렬
for i in range(len(student)):   # for문 사용 
    print('번호: {0}, 이름: {1}'.format(i+1,student[i])) # i+1로 번호를 나타내고 정렬된 사람 이름 출력

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

In [33]:
student=['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
student.sort()  # 정렬
for idx, name in enumerate(student):   # idx에 index, name에 이름을 받는다. 
    print('번호: {0}, 이름: {1}'.format(idx+1,name)) # idx+1로 번호를 나타내고 name에 정렬된 사람 이름 출력

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

In [38]:
a=ord('A')//ord('A')  # 아스키 코드를 사용하여 1을 만든다.
print(a+a,a-a,a,(a+a+a)*(a+a+a),a-a,(a+a+a)*(a+a+a),a+a,a+a+a,sep='') # 각 숫자를 a만을 사용하여 숫자 만듬 sep으로 붙임

20190923

In [39]:
num_list=['a','b','c','d','e','f','g','h','i','j']  # 알파벳 리스트 생성
print(num_list.index('c'),num_list.index('a'),num_list.index('b'),num_list.index('j'),num_list.index('a'),num_list.index('j'),num_list.index('c'),num_list.index('d'),sep='')
# index함수를 사용하여 value값이 일치하는 index값을 불러와 숫자를 출력

20190923

In [41]:
alp_list=['a']
a=len(alp_list) # a=리스트 길이
print(a+a,a-a,a,(a+a+a)*(a+a+a),a-a,(a+a+a)*(a+a+a),a+a,a+a+a,sep='') # 각 숫자를 a만을 사용하여 숫자 출력 sep으로 붙임

20190923

In [43]:
count_list=['a','b','b','c','c','c','d','d','d','d','e','e','e','e','e','f','f','f','f','f','f','g','g','g','g','g','g','g','h','h','h','h','h','h','h','h','i','i','i','i','i','i','i','i','i']
# 각 숫자 갯수만큼 있는 알파벳 리스트 생성 
print(count_list.count('b'),count_list.count('j'),count_list.count('a'),count_list.count('i'),count_list.count('j'),count_list.count('i'),count_list.count('b'),count_list.count('c'),sep='')
# count함수를 사용하여 리스트에 있는 알파벳 갯수를 받으면서 숫자 출력

20190923

In [51]:
string=input()    # string 입력받음
for i in range(len(string)):    # string 길이 까지 for문을 돌림
    if i==0 or string[i-1].isspace():  # 첫번째 문자거나 그전 문자가 공백이면
        print(string[i],end='')    # string[i]번째 출력

아버지가 방에 들어갔습니다
아방들

In [59]:
string=input()    # string 입력받음
stack=[]    # 빈 stack 리스트 생성
for i in string:  # for문으로 문자 돌림
    if len(stack)==0 and i.isspace()==False:  # stack리스트가 빈칸이고 공백이 아니면
        stack.append(i)  #stack에 문자 넣음
    elif i.isspace() or i==string[-1]:  #공백이거나 마지막 문자라면
        print(stack.pop(0),end='')   # stack에서 pop하여 출력

아버지가 방에 들어갔습니다.
아방들

In [62]:
string=input().split()   # 띄어쓰기 마다 문자를 받음
for i in string:      # for문으로 string 문자열 반복
    print(i[0],end='')  # 해당 문자열의 첫번째 수 출력

아버지가 방에 들어갔습니다.
아방들

In [65]:
n=input()   # 정수 입력
print(len(n),'자리수',sep='')   # stirng으로 받아 len으로 자릿수 출력

3
1자리수

In [66]:
print(len(input()))

3
1

In [78]:
string=input()     # 문자열을 입력받는다.
cnt=len(string)   # 총 문자의수
for i in string:   #for문 문자를 받는다.
    if i.isspace() or i=='\n': # 공백이거나 한줄띄기이면
        cnt-=1    # 총 글자수에서 한자리씩 뺀다.
print(cnt)

공백을 제외한 글자수만을 세는 코드 테스트
18

In [80]:
string=input()
print(len(string)-string.count(' '))

공백을 제외한 글자수만을 세는 코드 테스트
18